/* about us section */

.about-us .about-us-text  {
  display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
}

.section-title{
  
  font-size: 40px;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, rgba(43, 169, 224, 1) 100%);
  padding: 4px 10px 8px 50px;
  align-content: center;
  border-radius: 10px;
  color: white;
  vertical-align: middle;
  width: 300px;
}
.about-us .about-us-text  h2 {

  width: 250px;

 

}

.about-us .about-us-text p {
  font-size: 20px;
  line-height: 30px;
  color: #121212;
  line-height: 2;
}


.about-us-image{
    background: linear-gradient(0, rgba(255, 255, 255, 1) 0%, rgba(43, 169, 224, 1) 100%);
    height: 100%;
    border-radius: 10px 100px;
    /* box-shadow: -8px -8px 0px 0 rgba(12, 79, 137, 0.25); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    position: relative;

}
.about-us-image .about-logo {
  position: absolute; /* Make sure the pseudo-element positions relative to this */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.about-us-image .about-logo img{
   animation:  tada 2.5s  infinite ;
}

/* .about-us-image .about-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background-color: rgba(43, 169, 224, 0.2);
  z-index: -1;
} */


.about-us-image .row {
  width: 90%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  row-gap: 20px;

}

.about-us-image .row .col-6{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  overflow: hidden;
}

.about-us-image .row .col-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.about-us-image .row .col-6:nth-child(1) img {
  border-radius: 8px 48px 8px 8px;
}
.about-us-image .row .col-6:nth-child(2) img {
  border-radius: 10px;
}
.about-us-image .row .col-6:nth-child(3) img {
  border-radius:  10px ;
}
.about-us-image .row .col-6:nth-child(4) img {
  border-radius: 10px 10px 10px 50px;
} 



/* services */

.our-services-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
  margin-bottom: 20px;
}

.our-services-header .sub-title{
  color: #121212;
  text-align: center;
}
.owl-stage{
  padding-bottom: 50px;
  padding-top: 30px;
}
.owl-services .service-card{
  height: 315px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 20px 25px 0 rgba(0, 0, 0, 0.08);
  padding :30px 20px 20px 20px;
  border-top: 3px solid var(--color-Primary3);
  transition: .3s all;
  display: block;
}

.service-text h3{
  color: var(--color-Primary1);
}

.owl-services .service-card:hover{
  transform: translateY(35px) rotate(5deg);
}

.owl-services .service-card:hover .mashbak{
  transform: translateY(-40px) rotate(-15deg);
}
.owl-services .owl-item:nth-child(even) .service-card {
  background-color: var(--color-Primary3);
}
.owl-services .owl-item:nth-child(odd) path {
  fill: var(--color-Primary3);
}
.owl-services .owl-item:nth-child(odd) svg{
  opacity: .5;
}

.service-card-bg{
  position: absolute;
      bottom: -1px;
    left: -1px;
    width: 101%;
  
}
.service-card-bg svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.service-image{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50%;

}


.mashbak{
  position: absolute;
  top: -27px;
  right: 50%;
  transform: translateX(50%);
  transition: .3s all;
  
}

.service-text h3{
  font-size: 26px;
}

.owl-carousel{
  direction: ltr;
}




/* customer-card */
.our-customers{
  position: relative;
  padding: 100px 0;
}
.our-customers .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.our-customers .cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-card{
  height: 100%;
  position: relative;


}

.our-customers .item{
  height: 370px ;
}

.customer-card .customer-card-bg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.customer-card .customer-card-bg svg {
  /* width: 100%;
  height: 300px;
  object-fit: cover;
} */
}

.customer-card-text   {
  color: white;
  padding:  55px 55px ;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;

  
}
.customer-card-text p {
    font-size: 13px;
    text-align: center;

     -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 2;
}


/* .owl-customers .owl-item:nth-child(even) .service-card {
  background-color: var(--color-Primary2);
} */

.owl-customers .owl-item:nth-child(odd)  {
  background-image: url("../images/customer\ Mask.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.owl-customers .owl-item:nth-child(even){

  background-image: url("../images/customer\ Mask1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* contact */


.contact-us{
  padding: 80px 0;
}

.our-contact-header{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
}


.form-container {
  display: flex;
  flex-direction: row-reverse;
}

.contact-us form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.08) ,
              -20px 0 25px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-us form .form-field{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.contact-us form .form-field input,
.contact-us form .form-field textarea{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  font-size: 16px;
  text-align: start;
  font-family: "font_semi" ;

}
.contact-us form .form-field input:focus,
 .contact-us form .form-field textarea:focus{
  border: 1px solid var(--color-Primary2);
  outline: none;
}
 .contact-us form .form-field textarea{
  height: 150px;
  resize: none;
}

.contact-us form .form-field input::placeholder,
 .contact-us form .form-field textarea::placeholder {
  color: #ACAFB5;
  font-size: 14px;
  font-family: "font_semi";

}
input::placeholder{
    color: #ACAFB5;
  font-size: 14px;
  font-family: "font_semi";
}
 form button{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-us form label{
  color: #121212;
}
.main-btn:hover svg{
  background-color: var(--color-Primary1);
  border-radius: 50%;
}

.box-msg{
  position: absolute;
  width: 240px;
  height: 180px;
  font-size: 28px;
  background-color: var(--color-Primary5);
  color: white;
  right: -240px;
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
  align-content: center;
  padding: 10px;
  border-radius:0 5px 5px 0;
  z-index: 2;
  
}


.box-msg::before{
  content: "";
  position: absolute;
  bottom: -18px;
  width: 100%;
  height: 20px;
  background-color:rgba(2, 32, 61, 1);
  right: 0px;
  clip-path: polygon(0 0, 100% 0%, 86% 100%, 0 100%);
  z-index: -1;

}

 
 .box-msg .plane{
  content: "";
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  
} 


/***************************************************
 * Generated by SVG Artista on 7/6/2025, 9:17:00 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 356.4266357421875px;
    stroke-dasharray: 356.4266357421875px;
  }
  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 356.4266357421875px;
  }
  
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 356.4266357421875px;
  }
}

.svg-elem-1 {
  animation: animate-svg-stroke-1 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s infinite both,
               animate-svg-fill-1 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite both;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 181.27413940429688px;
    stroke-dasharray: 181.27413940429688px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  40% {
    fill: rgb(43, 169, 224);
  }

  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.82s infinite both,
               animate-svg-fill-2 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s infinite both;
}

@keyframes animate-svg-stroke-3 {
   0% {
    stroke-dashoffset: 181.27413940429688px;
    stroke-dasharray: 181.27413940429688px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
40% {
    fill: rgb(43, 169, 224);
  }

  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-3 {
  animation: animate-svg-stroke-3 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.94s infinite both,
               animate-svg-fill-3 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s infinite  both;
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 47.37264633178711px;
    stroke-dasharray: 47.37264633178711px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 47.37264633178711px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 47.37264633178711px;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  40% {
    fill: rgb(38, 50, 56);
  }

  100% {
    fill: rgb(38, 50, 56);
  }
}

.svg-elem-4 {
  animation: animate-svg-stroke-4 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.06s infinite both,
               animate-svg-fill-4 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s infinite both;
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 166.79556274414062px;
    stroke-dasharray: 166.79556274414062px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 166.79556274414062px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 166.79556274414062px;
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }


  100% {
    fill: rgb(43, 169, 224);
  }
  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-5 {
  animation: animate-svg-stroke-5 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.18s infinite both,
               animate-svg-fill-5 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s infinite both;
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 198.96661376953125px;
    stroke-dasharray: 198.96661376953125px;
  }
   40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 198.96661376953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 198.96661376953125px;
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }


  40% {
    fill: rgb(43, 169, 224);
  }
  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-6 {
  animation: animate-svg-stroke-6 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2999999999999998s infinite both,
               animate-svg-fill-6 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite both;
}






/* our-services-page */


.our-services-page .service-card{
  background-image: url("../images/services-bg-even.png");
  background-position: center;
  background-size: cover;
  background-size: 100% 100%; 
  height: 300px;
  display: block;
  box-shadow: 2px 20px 25px 0 rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px;
  position: relative;
    transition: .3s all;

}

.our-services-page .service-card:hover{
  transform: translateY(35px) rotate(5deg);
}

.our-services-page .service-card:hover .mashbak{
  transform: translateY(-40px) rotate(-15deg);
}


.our-services-page .row > div:nth-child(odd) .service-card {
  background-image: url("../images/services-bg-odd.png");
}

.work-step{
  margin: 50px 0;
}

.work-steps .work-step .row{
  row-gap: 10px;
}

.work-steps .work-step:nth-child(odd) .row {
  flex-direction: row-reverse;
}
.step-img{
  position: relative;
  background-image: url("../images/step-bg.png");
  background-position: center;
  background-size: cover;
  background-size: 100% 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  height: 500px;
}

.step-img .img-conainer{
  width:75%

}

/* .step-img .img-conainer.car{
  width: 250px;
  height: 140px;
  

} */

/* .step-img .img-conainer.car img{
  animation: hzaz 2.5s  infinite;
} */


@keyframes hzaz{
  0%{
    transform: rotate(0deg) translateX(0px);
    
  }
  25%{
    transform: rotate(-3deg) translateX(-3px);
  }
  50%{
        transform: rotate(0deg) translateX(0px);

  }
  75%{
        transform: rotate(5deg) translateX(5px);

  }
  
  100%{
    transform: rotate(0deg) translateX(0px);
  }
}

.step-img .img-conainer img{
  width: 100%;
  height:100%;

}

.alarm{
  position: absolute;
      left: 26%;
    bottom: 38%;
    /* animation:  alarm 1.2s infinite; */
}

.circle-car{
  position: absolute;
      left: 26.5%;
    bottom: 29%;
    width: 80px;
    height: 80px;
    /* animation: spin 1s linear infinite; */


}
.circle-car2{
  position: absolute;
  right: 28%;
  bottom: 29%;
  width: 80px;
  height: 80px;
  /* animation: spin 1s linear infinite; */
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes alarm{
  0%{
    bottom: 38%;
    transform: translate(0);
  }
  10%{
    bottom:  41%;
    transform: rotate(-10deg);
  }
  20%{
    bottom:  41%;
    transform: rotate(0deg);
  }
   40%{
    bottom:  41%;
    transform: rotate(10deg);
  }
   50%{
    bottom:  41%;
    transform: rotate(0deg);
  }
  60%{
    bottom:  41%;
    transform: rotate(-10deg);
  }
   70%{
    bottom:  41%;
    transform: rotate(0deg);
  }

  80%{
    bottom:  41%;
    transform: rotate(10deg);
  }

  90%{
    bottom:  41%;
    transform: rotate(0deg);
  }
  100%{
    bottom:  38%;
    transform: rotate(0deg);
  }

}


.step-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
  width: 80%;
  margin:  30px 0;
}
.work-steps .work-step:nth-child(odd) .col-lg-7{
  flex-direction: row-reverse;
  display: flex;
}
.step-text .step-header{
  display: flex;
  gap: 20px;
}

.step-text .step-header p{
  font-size: 20px;
  padding: 3.5px;

}
.step-text .step-header p:nth-child(1){
  font-size: 30px;
  border: 1px solid var(--color-Primary1);
  border-radius: 50%;
  width: 40px ;
  height: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}


.step-text-title{
  font-size: 17px;
  color: #121212;
}

.our-services-header.services-page {
  align-items: start;
}

.our-services-page{
  margin: 40px 0;
  
}


/* contact page */

.contact-page .our-services-header{
  align-items: start;
}
.section-title.contact-header{
  width: fit-content;
}

.contact-page form{
  box-shadow: none;
  position: relative;
}

.contact-page form::after{
  position: absolute;
  content: "";
  width: 140%;
  height: 100%;
  border: 1px dashed var(--color-Primary3);
  border-radius: 15px;
  right: 0;
  z-index: -1;
  
}

.contact-page .contact-details-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-details{
  background-color: var(--color-Primary2);
  color: white;
  height: 80%;
  border-radius: 15px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow:  20px 20px 4px 0 rgba(0, 0, 0, 0.15);

}

.contact-details .menu-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}


/* blog */


.blog-details-img{
  height: 470px;
  border-radius: 10px;
  overflow: hidden;
}

.blog-details-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-details-info{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}


.blog-info-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.blog-info-header h2{
  font-size: 32px;
  color: #121212;
}

.blog-info-header-icon span{
  font-size: 18px;
  color: var(--color-gray-text);
  font-family: "font_regular";
}

.blog-details-info p{
  color: var(--color-gray-text);
  font-size: 18px;
  font-family: "font_regular";
}


.blog-details-sidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-details-sidebar h3{
  font-size: 24px;
  color: var(--color-Primary2);
}

.blog-details-sidebar-item{
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid rgba(229, 229, 234, 1)
}

.blog-details-sidebar-item .row{
  height: 100%;
}



.blog-details-sidebar-item-img{
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.blog-details-sidebar-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blog-details-sidebar-item-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog-details-sidebar-item-info h4{
  font-size: 16px;
  color: #121212;
}
.blog-details-sidebar-item-info p{
  color: var(--color-gray-text);
  font-size: 16px;
  font-family: "font_regular";
  line-height: 1.5;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}



.blog-details-sidebar-item-info .blog-info-header-icon span{
  font-size: 14px;
  color: var(--color-gray-text);
}

.blogs .blog-details-sidebar-item,
.blog-details-sidebar-item-info{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.blogs .blog-details-sidebar-item-img{
  height: 230px;
  border-radius: 10px 10px 0 0;
}


.blogs .blog-info-header-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.blogs .main-btn2{
  padding: 5px;
}

.blogs .blog-details-sidebar-item{
  position: relative;
  transition: all .3s ease;
  

}




.blog-details-sidebar-item:hover{
  box-shadow: 0 4px 46px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transform: translateY(-10px);
  
}


/* oeder */

.order-progress{
  display: flex;
  justify-content: center;
}
.progress-steps{
  width: 60%;
  margin: 50px 0;
  display: flex;
  align-items: center;
  
}
.progress-step{
  position: relative;
  height: 32px;
  width: calc(100% /3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step p{
  width: 32px;
  height: 32px;
  background-color: var(--color-Primary2);
  color: white;
  border-radius: 50%;
  font-size: 16px ;
  display: flex;
  justify-content: center;
  align-items: center;
}


.progress-step::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(43, 169, 224, .3);
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.progress-step:last-child::after{
  
  content: none;
}
.progress-step.done::after{
  background-color: var(--color-Primary2);
}


.service-child{
  border: 1px dashed var(--color-Primary2);
  padding: 30px ;
  border-radius: 15px;
}
.chossing-service h3,
.service-details h3,
.service-container h3{
  margin: 40px 0;
  font-size: 24px;
  color: #121212;
}


.check-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 30px;
}

.chossing-service .form-check-input{
  display: none;
}

.chossing-service .form-check-label{
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 10px;
  background-color: rgba(235, 244, 250, 1);
  border-radius: 15px;
  font-size: 20px;
  color: var(--color-Primary2);

}

.chossing-service .form-check:nth-child(odd) .form-check-label{
  transform: rotate(-5deg);
}

.chossing-service .form-check:nth-child(even) .form-check-label{
  transform: rotate(5deg);
}

.chossing-service .form-check-input:checked + .form-check-label {
  background-color: var(--color-Primary2);
  color: white;
  cursor: pointer;
}


.service-details .details-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.numbers-pieces,
.size-piece{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.numbers-pieces p, .size-piece p{
  color: var(--color-Primary2);
}



.quantity-selector {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.quantity {
  font-size: 20px;
  color: var(--color-Primary2); /* Blue */
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}





.size-piece .form-check-input:checked + .form-check-label {
  background-color: var(--color-Primary2);
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}

.form-check{
  padding: 0;
}

.size-piece .form-check-input{
  display: none;
}

.size-piece .form-check-label{
  cursor: pointer;
  transition: 0.3s;
  padding: 2px 10px;
  background-color:transparent;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  border: 1px solid black;

}



/* services-cards */

.services-cards{

  margin: 40px 0;

}

.services-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
  width: 90%;
  margin: auto;
}

.services-cards .service-card{

  width: 30%;
  border: 1px dashed var(--color-Primary2);
  padding: 14px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.services-cards.summary{
  width: 100%;
}

.services-cards.summary .service-card-container{
  width: calc(100% / 4);
  padding: 0 10px;
}

.services-cards.summary .service-card-container .service-card{
  width: 100%;
}
.services-cards .card-header{
  display: flex;
  justify-content: space-between;
}

.service-card .card-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-card .card-body .body-row{
  display: flex;
  justify-content: space-between;
}


.services-cards .card-header p{
  font-size: 18px;
  color: var(--color-Primary2);

}
.service-card .card-actions{
  display: flex;
  gap: 10px;
}

.service-card .card-header a,
.info-summary-item a{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}

.service-card .card-header a.edit{
  border: 1px solid red;
}

.service-card .card-header a.edit:hover{
  background-color: red;
}
.service-card .card-header a.edit path{
  transition: .3s all;
}
.service-card .card-header a.edit:hover path{
  stroke: white;
}
.service-card .card-header a.delete,
.info-summary-item a.delete{
  border: 1px solid var(--color-Primary2);
}

.service-card .card-header a.delete path,
.info-summary-item a.delete path{
  transition: .3s all;
}
.service-card .card-header a.delete:hover path,
.info-summary-item a.delete:hover path{
  stroke: white;
}
.service-card .card-header a.delete:hover,
.info-summary-item a.delete:hover{
  background-color: var(--color-Primary2);
}

.service-card .card-body .body-row p{
  font-size: 14px;
  color: #121212;
}

.service-card .card-body .body-row span{
  font-size: 18px;
  color: var(--color-Primary2);
}

.service-card .card-body .body-row.card-price span{
  background-color: var(--color-Primary2);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

/* order-way */

.service-container,
.service-child{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.service-container .check-items{
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  flex-wrap: wrap;
}


.service-container .form-check .form-check-input {
   float: right; 
  margin-left: 1em;
  cursor: pointer;
}
.service-container .form-check label{
  color: var(--color-Primary2);
  cursor: pointer;
}
.service-container .form-check label span{
    font-size: 20px;
}

.service-container .form-check label p{

    font-size: 14px;
}

.form-check-input:checked {
  background-color: var(--color-Primary2);
  border-color: var(--color-Primary2);
}

.service-container h4{
  font-size: 18px;
  color: #8D8F95;
  margin-top: 10px;
}

.service-container textarea{
  font-size: 14px;
  color: #8D8F95;
  font-family: "font_semi";
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  height: 120px;
  resize: none;
}

.client-details{
  row-gap: 25px;
}

.client-details .form-controls label{
  font-size: 18px;
  color: #8D8F95;
}

.client-details .form-controls input,.client-details .form-controls select{
  width: 100%;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #EEEFF0;
  margin-top: 10px;
  padding: 2px 8px  ;
}
.client-details .form-controls select{
  background-image: none;
  
}

.client-details .form-controls .select-control{
  position: relative;
  
}
.client-details .form-controls  i{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.upload-address-box {
  border: 2px dashed #2196f3; /* أزرق */
  border-radius: 12px;
  padding: 40px 20px;
  text-align: center;
  color: #777;
  direction: rtl;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background 0.3s;
  font-family: "font_semi";
}

.upload-address-box:hover {
  background-color: #e3f2fd;
}

.upload-address-box .icon {
  margin-bottom: 10px;
}

.upload-address-box img {
  width: 50px;
  height: auto;
}

.client-info-summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  border: 1px dashed var(--color-Primary2);
  border-radius: 15px;
  margin: 10px;
  color: var(--color-Primary2);
  
}

.client-info-summary .info-summary-item  p{
  font-size: 18px;
}

.client-info-summary .info-summary-item  p span{
  color: var(--color-gray-text);
}

.client-info-summary .info-summary-item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 15px;
  font-size: 10px;
  gap: 15px;

}

.client-info-summary .info-summary-item:last-child{
  border: none;
}

.client-pay-way{
  border: 1px dashed var(--color-Primary2);
  border-radius: 15px;
  padding: 25px ;
  margin: 10px;
}



.client-pay-way  p,
.client-pay-way .check-items label  {
 color: var(--color-gray-text);
 font-size: 18px;
}

.client-pay-way .form-check-input:checked + .form-check-label {
  color: var(--color-Primary2);
}


.client-pay-way .check-items{
  margin: 0;
}



/* my order- page */

.service-cost .service-cost-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  border: 1px dashed var(--color-Primary2);
  height: 100%;
  color: var(--color-Primary2);
  
}

.service-cost .service-cost-item{
  display: flex;
  justify-content: space-between;
}

.service-cost-item.total-cost p{
background-color: var(--color-Primary2);
    color: white;
    padding: 0px 8px;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
}

.service-cost span{
  color: var(--color-gray-text);
  font-size: 18px;
}

.service-cost p,
.service-cost span{
  font-size: 18px;
}


/* follow-order-page */




/* follow steps page */

.follow-step{
  display: flex;
  gap: 20px;
  align-items: center;
  

}



.follow-step .img-container{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9caca;
  border-radius: 50%;
}

.follow-order-container .order-title{
  border: 1px dashed var(--color-Primary2);
  padding: 15px  20px;
  border-radius: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.follow-order-container .order-title p{

  color: var(--color-Primary2);
  font-size: 18px;
  
}

.follow-order-container .order-title p span{

  color: var(--color-gray-text);
  font-size: 18px;
}



.follow-order-container .step-title{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.order-follow-steps{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  margin: 20px 50px;
}

.order-follow-steps::after{
  content: "";
  width: 1.5px;
  height: 95%;
  border: 1px dashed #c9caca ;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.follow-order-container .step-title p{
  font-size: 30px;
  color:  var(--color-gray-text) ;
}

.follow-order-container .step-title span{
  font-size: 16px;
  color: var(--color-gray-text);
  font-family: "font_semi";
  display: flex;
  gap: 10px;
  align-items: center;
}


.follow-step.done .img-container{
  background-color: rgba(236, 247, 252, 1);
}

.follow-step.done .img-container svg path{
  fill: var(--color-Primary2);
}

.follow-step.done:first-child svg path{
  fill:rgba(236, 247, 252, 1) ;
  stroke: var(--color-Primary2);
}

.follow-step.done  .step-title p,
.follow-step.done  .step-title  span{
  color: var(--color-Primary2);
}


/* about-page */



.about-us .row{
  row-gap: 40px;
}

.about-us-img-container {
  width: 400px;
  height: 413px;
  position: relative;
  z-index: 1;
}

.about-us-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

.about-us-img-container::after{
  
  content: "";
  background-image:url("../images/conact-mask-img-after.png") ;
  width: 120% ;
  height: 120%;
  z-index: -1;
  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}


.about-us-img-container .about-logo {
  position: absolute; /* Make sure the pseudo-element positions relative to this */
  bottom: 0;
  left: 43%;
  transform: translateX( -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  z-index:  10;
}

 .about-us-img-container .about-logo img{
   animation:  tada 2.5s  infinite ;
} 


.about-header{
  display: none;
}
/* feature  */


.our-features{

  padding: 80px 0;
}


.our-features .main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}


.our-features .row{
  padding: 50px 0;
  row-gap: 40px;
}

.feature-card,
.feature-card-body{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.feature-card .img-container{
  margin: 50px ;
  position: relative;
}

.feature-card .img-container .svg-bg {
  position: absolute;
  z-index: -1;
  right: 50%;
  top: 50%;
  width: 180px;
  height: 160px;
  transform: translateX(50%) translateY(-50%);
}
.feature-card .img-container .svg-bg img{
  position: absolute;
  top: 0;
  right: 50%;
 
}
.feature-card .img-container .svg-bg img:first-child{
  animation: rotate360 4s linear infinite;
}
.feature-card .img-container .svg-bg img:last-child{
  position: absolute;
  animation: rerotate360 4s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: translateX(50%) rotate(0deg);
  }
  to {
    transform: translateX(50%) rotate(360deg);
  }
}

@keyframes rerotate360 {
  from {
    transform: translateX(50%) rotate(0deg);
  }
  to {
    transform:translateX(50%) rotate(-360deg);
  }
}

.feature-card-body h3{
  font-size: 20px;
  color: var(--color-Primary2);
}

.feature-card-body p{
  font-size: 16px;
  color: #121212;
  font-family: "font_semi";
}



.our-features .main-btn{
  display: block;

}


