/* about us section */

.about-us .about-us-text  {
  display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
}

.section-title{
  
  font-size: 40px;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, rgba(43, 169, 224, 1) 100%);
  padding: 4px 10px 8px 50px;
  align-content: center;
  border-radius: 10px;
  color: white;
  vertical-align: middle;
  width: 300px;
}
.about-us .about-us-text  h2 {

  width: 250px;

 

}

.about-us .about-us-text p {
  font-size: 20px;
  line-height: 30px;
  color: #121212;
  line-height: 2;
}


.about-us-image{
    background: linear-gradient(0, rgba(255, 255, 255, 1) 0%, rgba(43, 169, 224, 1) 100%);
    height: 100%;
    border-radius: 10px 100px;
    /* box-shadow: -8px -8px 0px 0 rgba(12, 79, 137, 0.25); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    position: relative;

}
.about-us-image .about-logo {
  position: absolute; /* Make sure the pseudo-element positions relative to this */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.about-us-image .about-logo img{
   animation:  tada 2.5s  infinite ;
}

/* .about-us-image .about-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background-color: rgba(43, 169, 224, 0.2);
  z-index: -1;
} */


.about-us-image .row {
  width: 90%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  row-gap: 20px;

}

.about-us-image .row .col-6{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  overflow: hidden;
}

.about-us-image .row .col-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.about-us-image .row .col-6:nth-child(1) img {
  border-radius: 8px 48px 8px 8px;
}
.about-us-image .row .col-6:nth-child(2) img {
  border-radius: 10px;
}
.about-us-image .row .col-6:nth-child(3) img {
  border-radius:  10px ;
}
.about-us-image .row .col-6:nth-child(4) img {
  border-radius: 10px 10px 10px 50px;
} 



/* services */

.our-services-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
  margin-bottom: 20px;
}

.our-services-header .sub-title{
  color: #121212;
  text-align: center;
}
.owl-stage{
  padding-bottom: 50px;
  padding-top: 30px;
}
.owl-services .service-card{
  height: 315px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 20px 25px 0 rgba(0, 0, 0, 0.08);
  padding :30px 20px 20px 20px;
  border-top: 3px solid var(--color-Primary3);
  transition: .3s all;
  display: block;
}

.service-text h3{
  color: var(--color-Primary1);
}

.owl-services .service-card:hover{
  transform: translateY(35px) rotate(5deg);
}

.owl-services .service-card:hover .mashbak{
  transform: translateY(-40px) rotate(-15deg);
}
.owl-services .owl-item:nth-child(even) .service-card {
  background-color: var(--color-Primary3);
}
.owl-services .owl-item:nth-child(odd) path {
  fill: var(--color-Primary3);
}
.owl-services .owl-item:nth-child(odd) svg{
  opacity: .5;
}

.service-card-bg{
  position: absolute;
      bottom: -1px;
    left: -1px;
    width: 101%;
  
}
.service-card-bg svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.service-image{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50%;

}


.mashbak{
  position: absolute;
  top: -27px;
  right: 50%;
  transform: translateX(50%);
  transition: .3s all;
  
}

.service-text h3{
  font-size: 26px;
}

.owl-carousel{
  direction: ltr;
}




/* customer-card */
.our-customers{
  position: relative;
  padding: 100px 0;
}
.our-customers .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.our-customers .cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-card{
  height: 100%;
  position: relative;


}

.our-customers .item{
  height: 370px ;
}

.customer-card .customer-card-bg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.customer-card .customer-card-bg svg {
  /* width: 100%;
  height: 300px;
  object-fit: cover;
} */
}

.customer-card-text   {
  color: white;
  padding: 0 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  
}
.customer-card-text p {
    font-size: 13px;
    text-align: center;

}


/* .owl-customers .owl-item:nth-child(even) .service-card {
  background-color: var(--color-Primary2);
} */

.owl-customers .owl-item:nth-child(odd)  {
  background-image: url("../images/customer\ Mask.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.owl-customers .owl-item:nth-child(even){

  background-image: url("../images/customer\ Mask1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* contact */


.contact-us{
  padding: 80px 0;
}

.our-contact-header{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
}


.form-container {
  display: flex;
  flex-direction: row-reverse;
}

.contact-us form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  box-shadow: 0 -20px 25px 0 rgba(0, 0, 0, 0.08) ,
              -20px 0 25px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-us form .form-field{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.contact-us form .form-field input,
.contact-us form .form-field textarea{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  font-size: 16px;
  text-align: start;
  font-family: "font_semi" ;

}
.contact-us form .form-field input:focus,
.contact-us form .form-field textarea:focus{
  border: 1px solid var(--color-Primary2);
  outline: none;
}
.contact-us form .form-field textarea{
  height: 150px;
  resize: none;
}

.contact-us form .form-field input::placeholder,
.contact-us form .form-field textarea::placeholder {
  color: #ACAFB5;
  font-size: 14px;
  font-family: "font_semi";

}
input::placeholder{
    color: #ACAFB5;
  font-size: 14px;
  font-family: "font_semi";
}
.contact-us form button{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-btn:hover svg{
  background-color: var(--color-Primary1);
  border-radius: 50%;
}

.box-msg{
  position: absolute;
  width: 240px;
  height: 180px;
  font-size: 28px;
  background-color: var(--color-Primary5);
  color: white;
  right: -240px;
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
  align-content: center;
  padding: 10px;
  border-radius:0 5px 5px 0;
  z-index: 2;
  
}


.box-msg::before{
  content: "";
  position: absolute;
  bottom: -18px;
  width: 100%;
  height: 20px;
  background-color:rgba(2, 32, 61, 1);
  right: 0px;
  clip-path: polygon(0 0, 100% 0%, 86% 100%, 0 100%);
  z-index: -1;

}

 
 .box-msg .plane{
  content: "";
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  
} 


/***************************************************
 * Generated by SVG Artista on 7/6/2025, 9:17:00 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 356.4266357421875px;
    stroke-dasharray: 356.4266357421875px;
  }
  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 356.4266357421875px;
  }
  
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 356.4266357421875px;
  }
}

.svg-elem-1 {
  animation: animate-svg-stroke-1 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s infinite both,
               animate-svg-fill-1 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite both;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 181.27413940429688px;
    stroke-dasharray: 181.27413940429688px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  40% {
    fill: rgb(43, 169, 224);
  }

  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.82s infinite both,
               animate-svg-fill-2 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s infinite both;
}

@keyframes animate-svg-stroke-3 {
   0% {
    stroke-dashoffset: 181.27413940429688px;
    stroke-dasharray: 181.27413940429688px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.27413940429688px;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
40% {
    fill: rgb(43, 169, 224);
  }

  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-3 {
  animation: animate-svg-stroke-3 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.94s infinite both,
               animate-svg-fill-3 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s infinite  both;
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 47.37264633178711px;
    stroke-dasharray: 47.37264633178711px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 47.37264633178711px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 47.37264633178711px;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  40% {
    fill: rgb(38, 50, 56);
  }

  100% {
    fill: rgb(38, 50, 56);
  }
}

.svg-elem-4 {
  animation: animate-svg-stroke-4 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.06s infinite both,
               animate-svg-fill-4 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s infinite both;
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 166.79556274414062px;
    stroke-dasharray: 166.79556274414062px;
  }

  40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 166.79556274414062px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 166.79556274414062px;
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }


  100% {
    fill: rgb(43, 169, 224);
  }
  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-5 {
  animation: animate-svg-stroke-5 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.18s infinite both,
               animate-svg-fill-5 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s infinite both;
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 198.96661376953125px;
    stroke-dasharray: 198.96661376953125px;
  }
   40% {
    stroke-dashoffset: 0;
    stroke-dasharray: 198.96661376953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 198.96661376953125px;
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }


  40% {
    fill: rgb(43, 169, 224);
  }
  100% {
    fill: rgb(43, 169, 224);
  }
}

.svg-elem-6 {
  animation: animate-svg-stroke-6 4.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2999999999999998s infinite both,
               animate-svg-fill-6 5.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite both;
}






/* our-services-page */


.our-services-page .service-card{
  background-image: url("../images/services-bg-even.png");
  background-position: center;
  background-size: cover;
  background-size: 100% 100%; 
  height: 300px;
  display: block;
  box-shadow: 2px 20px 25px 0 rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px;
  position: relative;
    transition: .3s all;

}

.our-services-page .service-card:hover{
  transform: translateY(35px) rotate(5deg);
}

.our-services-page .service-card:hover .mashbak{
  transform: translateY(-40px) rotate(-15deg);
}


.our-services-page .row > div:nth-child(odd) .service-card {
  background-image: url("../images/services-bg-odd.png");
}

.work-step{
  margin: 50px 0;
}

.work-steps .work-step .row{
  row-gap: 10px;
}

.work-steps .work-step:nth-child(odd) .row {
  flex-direction: row-reverse;
}
.step-img{
  position: relative;
  background-image: url("../images/step-bg.png");
  background-position: center;
  background-size: cover;
  background-size: 100% 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  height: 500px;
}

.step-img .img-conainer{
  width:75%

}

/* .step-img .img-conainer.car{
  width: 250px;
  height: 140px;
  

} */

/* .step-img .img-conainer.car img{
  animation: hzaz 2.5s  infinite;
} */


@keyframes hzaz{
  0%{
    transform: rotate(0deg) translateX(0px);
    
  }
  25%{
    transform: rotate(-3deg) translateX(-3px);
  }
  50%{
        transform: rotate(0deg) translateX(0px);

  }
  75%{
        transform: rotate(5deg) translateX(5px);

  }
  
  100%{
    transform: rotate(0deg) translateX(0px);
  }
}

.step-img .img-conainer img{
  width: 100%;
  height:100%;

}

.alarm{
  position: absolute;
      left: 26%;
    bottom: 38%;
    /* animation:  alarm 1.2s infinite; */
}

.circle-car{
  position: absolute;
      left: 26.5%;
    bottom: 29%;
    width: 80px;
    height: 80px;
    /* animation: spin 1s linear infinite; */


}
.circle-car2{
  position: absolute;
  right: 28%;
  bottom: 29%;
  width: 80px;
  height: 80px;
  /* animation: spin 1s linear infinite; */
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes alarm{
  0%{
    bottom: 38%;
    transform: translate(0);
  }
  10%{
    bottom:  41%;
    transform: rotate(-10deg);
  }
  20%{
    bottom:  41%;
    transform: rotate(0deg);
  }
   40%{
    bottom:  41%;
    transform: rotate(10deg);
  }
   50%{
    bottom:  41%;
    transform: rotate(0deg);
  }
  60%{
    bottom:  41%;
    transform: rotate(-10deg);
  }
   70%{
    bottom:  41%;
    transform: rotate(0deg);
  }

  80%{
    bottom:  41%;
    transform: rotate(10deg);
  }

  90%{
    bottom:  41%;
    transform: rotate(0deg);
  }
  100%{
    bottom:  38%;
    transform: rotate(0deg);
  }

}


.step-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
  width: 80%;
  margin:  30px 0;
}
.work-steps .work-step:nth-child(odd) .col-lg-7{
  flex-direction: row-reverse;
  display: flex;
}
.step-text .step-header{
  display: flex;
  gap: 20px;
}

.step-text .step-header p{
  font-size: 20px;

}
.step-text .step-header p:nth-child(1){
  font-size: 30px;
  border: 1px solid var(--color-Primary1);
  border-radius: 50%;
  width: 40px ;
  height: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}


.step-text-title{
  font-size: 17px;
  color: #121212;
}

.our-services-header.services-page {
  align-items: start;
}

.our-services-page{
  margin: 40px 0;
  
}