
@media (max-width : 1024px){

    .header-content .right-img,
    .header-content .left-img{
         width: 200px;
        height: 270px;
    }

    .header-content p{
        font-size: 60px;
    }

    .header-content #myParagraph span{
        font-size: 40px;
    }


    .box-msg{
    position: absolute;
    width: 200px;
    height: 160px;
    right: -200px;
    font-size: 22px;
    
    
    }

}

@media (max-width: 992px) {


    
  nav .nav-list ,
  .header-nav .menu-icon{
    display: none;
  }

  .menu-responsive .nav-list {
    display: flex !important;
  }

  section.responsive-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 30px 0;
    background-color: var(--color-Primary3);
    overflow: scroll;
  }
  section.responsive-menu.show .nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
  }
  section.responsive-menu.show .nav-list li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  section.responsive-menu.show .nav-list li.active {
    background-color: var(--color-Primary1);
    color: var(--color-white  );
  }
  section.responsive-menu.show .nav-list li.active a {
    color: var(--color-white);
  }
  section.responsive-menu.show .nav-list li a {
    font-size: 16px;
    color: var(--color-Primary1);
    font-weight: 600;
  }
  .responsive-menu .menu-icon{
    flex-direction: column;
    display: flex;
    gap: 10px;
  }

  .show-menu {
    display: flex;
  }

  .show-menu i{
    color: white;
  }

  .contact-us form{
    width: 100%;
    margin-top: 150px

  }
  .box-msg{
    top: -140px;
    right: 60%;
    transform: translateX(60%);
    height: 120px;
    font-size: 18px;
  }


  /* footer */

  /* .shape1, .shape2{
    height: 230px;
  }


  footer .main-container{
    gap: 100px
  } */

}



@media (max-width : 768px){

    .header-content .right-img,
    .header-content .left-img{
         width: 150px;
        height: 200px;
    }

    .header-content p{
        font-size: 50px;
    }

    .header-content #myParagraph span{
        font-size: 32px;
    }

    .header-content label,
    .sub-title{
        font-size: 13px;
    }

    .main-btn{
        font-size: 15px;
    }



     /* about */
    .section-title{
        font-size: 30px;
    }
    .about-us .about-us-text h2 {
    width: 220px;
    }

    
    .about-us .about-us-text p{
        font-size: 16px;
    }

    .about-us-image .row .col-6 {
        height: 170px;
    }

    .about-us-image .about-logo{
        width: 170px;
        height: 170px;
    }

    .about-us-image .row{
        width: 100%;
    }

    /* customer */

    .customer-card-text{
        padding: 0 50px;
    }

    .customer-card-text p{
        font-size:12px;
    }


    .owl-customers .owl-item:nth-child(even),
    .owl-customers .owl-item:nth-child(odd){
        background-size: 110% 100%;
    }

    .our-customers .item {
    height: 300px ;
    }


    /* footer */

    .top-fooer, .middle-footer{
        flex-direction: column;
    }

    .top-fooer{
        align-items: start;
    }
    
    .middle-footer{
        justify-content: center;
    }


  .shape1, .shape2{
    height: 325px;
  }


  footer .main-container{
    gap: 80px
  }

  .footer-contact .contact-info span,
  .footer-contact li a, .footer-contact li a i,
  .footer-contact .contact-info p{
    font-size: 16px;
  }

  
.fooer-logo{
    width: 170px;
    height: 55px;
}

    .section-title{
        width: 250px;
    }
}

@media (max-width : 600px){
    .our-customers .item {
    height:440px ;
    }


     .our-customers,
        .our-services-header{
            padding: 30px 0 0;
        }


        .end-footer{
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
        .end-footer p{
            text-align: center;
        }


}


@media (max-width : 576px){

    .header-content .right-img,
    .header-content .left-img{
         width: 120px;
        height: 180px;
    }

    .header-content p{
        font-size: 45px;
    }

    .header-content #myParagraph span{
        font-size: 28px;
    }

    .top-fooer{
        justify-content: start;
        
    }


    .about-us-image{
        padding: 25px 12px;
    }


    .box-msg{
    top: -110px;
    right: 70%;
    transform: translateX(70%);
    height: 90px;
    font-size: 18px;
    width: 150px;
    font-size: 17px;
  }

  .header-content .left-img,
  .header-content .right-img{
    bottom: 3%;
    top: unset;
    
  }
  .header-content .right-img{
        transform: rotate(10deg);
  }

   
}




@media (max-width : 425px){

    .header-content .right-img,
    .header-content .left-img{
         width: 120px;
        height: 180px;
    }

    .header-content p{
        font-size: 45px;
    }

    .header-content #myParagraph span{
        font-size: 28px;
    }

      
.fooer-logo{
    width: 155px;
    height: 45px;
}

    .about-us-image .row .col-6 {
        height: 120px;
    }


        .about-us-image .about-logo {
        width: 130px;
        height: 130px;
    }

    .section-title{
        width: 200px;
        font-size: 24px;
    }

    
        .our-customers .item {
            height: 330px;
        }


            .main-btn {
        font-size: 14px;
        width: 130px;
    }
       
}







@media (max-width : 350px){

    .header-content .right-img,
    .header-content .left-img{
         width: 100px;
        height: 160px;
    }

    .header-content p{
        font-size: 40px;
    }
    
    .header-content #myParagraph span{
        font-size: 24px;
    }
    
            .about-us-image .row .col-6 {
            height: 100px;
        }
    
    .our-customers .item ,
    .owl-services .service-card{
    height: 300px ;
    }




}



